*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 38.25em) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  color: black;
}

a {
  font-family: "Jost", sans-serif;
  text-decoration: none;
  color: white;
}

button {
  font-family: "Jost", sans-serif;
}

.headline {
  font-size: 8rem;
  color: white;
  letter-spacing: 1rem;
}
.headline__secondary {
  font-size: 4rem;
  color: white;
  letter-spacing: 0.25rem;
}
.headline__tertiary {
  font-size: 2rem;
  color: white;
  letter-spacing: 0.25rem;
}

.reveal {
  position: relative;
  animation: fadeIn;
  opacity: 0;
  transition: 3s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.bg-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  position: absolute;
}
.bg-video__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bio {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.btn {
  padding: 0.5rem 2rem;
  border: solid white 0.1rem;
  background-color: transparent;
  border-radius: 25px;
  color: white;
  font-size: 1.75rem;
  letter-spacing: 0.25rem;
  transition: all 0.5s;
  margin-right: 1rem;
}
.btn:hover {
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn:hover a {
  color: black;
}

.footer {
  display: flex;
  padding: 4rem 20rem;
  transition: all 1s;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
}
.footer__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 100%;
}
.footer__item {
  list-style: none;
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 6rem;
}
.footer__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  color: black;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__start {
  margin-right: auto;
}
.footer__end {
  margin-left: auto;
}
.footer__title {
  display: inline-block;
  font-size: 3.5rem;
  letter-spacing: 0.75rem;
  text-decoration: none;
  color: black;
}
.footer__logo {
  height: 15rem;
  width: 15rem;
}
@media (max-width: 37.5em) {
  .footer__logo {
    scale: 1.6;
  }
}

.project__title-right {
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: right;
  padding-right: 20rem;
}
.project__title-left {
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding-left: 20rem;
}
.project__banner {
  position: absolute;
  top: 30%;
  left: -6%;
  transform: translate(-50%, -50%);
  scale: 0.4;
}
@media (max-width: 37.5em) {
  .project__banner {
    position: absolute;
    top: 48%;
    left: 30%;
    transform: translate(-50%, -50%);
    scale: 0.8;
  }
}
.project__banner-2 {
  position: absolute;
  top: -52%;
  left: -8%;
  transform: translate(-50%, -50%);
  scale: 0.13;
}
@media (max-width: 37.5em) {
  .project__banner-2 {
    position: absolute;
    top: -15%;
    left: -15%;
    transform: translate(-50%, -50%);
    scale: 0.2;
  }
}
.project__button {
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%);
}
@media (max-width: 37.5em) {
  .project__button {
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}
.project__bio {
  position: absolute;
  top: 32%;
  left: 85%;
  transform: translate(-50%, -50%);
  scale: 1.8;
}
@media (max-width: 37.5em) {
  .project__bio {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 1.2;
  }
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50vw;
}
@media (max-width: 37.5em) {
  .header__text-box {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.header__main-text {
  color: rgb(255, 255, 255);
  font-size: 7rem;
  letter-spacing: 0.25rem;
  font-family: "Rammetto One", cursive;
}
.header__button {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__banner {
  scale: 1.4;
}
@media (min-width: 112.5em) {
  .header__banner {
    scale: 1.5;
  }
}
@media (max-width: 37.5em) {
  .header__banner {
    scale: 1.6;
  }
}

.nav {
  display: flex;
  padding: 4rem 10rem;
  background-color: transparent;
  transition: all 1s;
  z-index: 1000;
}
@media (max-width: 37.5em) {
  .nav {
    display: none;
  }
}
.nav:hover {
  background-color: white;
}
.nav:hover .nav__title {
  color: black;
}
.nav:hover .nav__link {
  color: black;
}
.nav__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 100%;
}
.nav__item {
  list-style: none;
  display: inline-block;
}
.nav__item:not(:last-child) {
  margin-right: 6rem;
}
.nav__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  color: white;
}
.nav__link:hover {
  text-decoration: underline;
}
.nav__start {
  margin-right: auto;
}
@media (max-width: 37.5em) {
  .nav__start {
    display: none;
  }
}
.nav__end {
  margin-left: auto;
}
@media (max-width: 37.5em) {
  .nav__end {
    display: none;
  }
}
.nav__title {
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 0.75rem;
  text-decoration: none;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: transparent;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 38.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__button {
    top: 2.5rem;
    right: 7rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-color: transparent;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
@media (max-width: 38.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: rgb(181, 182, 183);
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  background-color: rgb(255, 255, 255);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
@media (min-width: 38.25em) {
  .navigation {
    display: none;
  }
}

.mobile-nav {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  padding: 4rem 10rem;
  background-color: white;
  z-index: 1000;
}
@media (min-width: 38.25em) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav__title {
  color: black;
  font-size: 3rem;
  letter-spacing: 0.75rem;
  text-decoration: none;
  margin-left: -3rem;
}

.section-header {
  height: 100vh;
  position: relative;
}
@media (max-width: 37.5em) {
  .section-header {
    height: 60vh;
  }
}

.section-portfolio {
  position: relative;
  background-image: url(/img/schmaltz.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
@media (max-width: 37.5em) {
  .section-portfolio {
    height: 60vh;
  }
}

.section-about {
  position: relative;
  background-image: url(/img/me.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
@media (max-width: 37.5em) {
  .section-about {
    height: 60vh;
  }
}/*# sourceMappingURL=main.css.map */