.header{

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__main-text{
        color: rgb(255, 255, 255);
        font-size: 4rem;
        letter-spacing: .25rem;
    }

    &__button{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}