
.bg-video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    position: absolute;

    &__overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 0;

        
    }

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

}