.section-header{
    height:100vh;
    position: relative;

    @include respond(phone){
        height:60vh;
    }

}

.section-portfolio{
    position: relative;
    background-image: url(/img/schmaltz.png);
    background-position: center;
    background-size: cover;
    height: 100vh;

    @include respond(phone){
        height:60vh;
    }
}

.section-about{
    position: relative;
    background-image: url(/img/me.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

    @include respond(phone){
        height:60vh;
    }
}

